@{
    ViewData["Title"] = "Home Page";
}
  

<div class="text-center">
  
 <div style="background-image: image();"></div>   <h1 class="display-4">Welcome</h1>
    <p> <a href="https://docs.microsoft.com/aspnet/core">Welcome To Infosight</a>.</p>
</div>
</div>